.main_background
{
    background-color: #e3e4e6;
    height: 1000px;
}
.text_header{
    font-size: 12px;

}
.banner{height: 5%;
    color: #dbd7d7; 
    background-color: #4f4e4d;}
.body{background-image: url("HTML/images/bgimage.jpg");
        background-color: #a3a2a1;}
.borderlining{
    border-color: #cc9e21;
    border-style: solid;
    border-width: .1rem;
  }