<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gadget Recommender System</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/assets/css/docs.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
</head>
<body>
  
  <script type="text/javascript">

    
  </script> 
  

  <div class="wrapper">
      <div class="sidebar">
          <div class="fs-5 text-center" style="height: 5rem;">Recommender System</div>
          <ul>
              <li><a href="#"><i class="fas fa-home"></i>Main</a></li>
              <li><a href="/newdataset"><i class="fas fa-user"></i>New Dataset</a></li>
              <li><a href="#"><i class="fas fa-address-card"></i>Lorem Ipsum</a></li>
          </ul> 
      </div>
      <div class="container-fluid main_content p-0">
        <div class="row g-3">
          <div class="bg-primary">
                <div class="text-center fs-1 text-warning">Recommender System</div>
          </div>
          <!-- Search Bar -->
          <!-- <div class="col-12 bg-warning"> -->
            <div class="card col-12">
              <!-- <div class="row"> -->
                <div class="card-header text-center align-middle"> Select your gadget below </div>
                <div class="col-12">
                  <!-- Select Brand -->
                  <div class="p-2 w-25 d-inline-block">
                    <form action="brandtype" name="LoadListItems" method="POST">
                    <select name="gadgetBrand" id="brandlist" class="form-control custom-select custom-select-lg mb-3" onchange="this.form.submit()">
                      <option selected value="None" >Brand</option>
                        {% for optionvalue in brands%}
                          <option value="{{optionvalue}}">{{optionvalue}}</option>
                        {% endfor %}
                    </select>
                    <div class="12">selected brand: {{selectbrand}}</div>
                  </form>
                </div>
                <!-- End Select Brand -->
                <!-- Select Type -->
                <div class="p-2 w-25 d-inline-block">
                  <form action="typemodel" name="LoadListType" method="POST">
                  <select name="gadgetType" class="form-control custom-select custom-select-lg mb-3" onchange="this.form.submit()">
                    <option selected>Type</option>
                      {% for optionvalue in gadgetType%}
                      <option value="{{optionvalue}}">{{optionvalue}}</option>
                      {% endfor %}
                    </select>
                    <div class="12">selected type: {{selectedtype}}</div>
                  </form>
                </div>
                <!-- End Select Type -->
                <!-- Select Model -->
                  <div class="p-2 w-25 d-inline-block">
                    <form action="generaterecomendation" name="LoadListType" method="POST">
                      <select name="gadgetModel" class="form-control custom-select custom-select-lg mb-3" onchange="this.form.submit()">
                      <option selected>Model</option>
                        {% for optionvalue in gadgetModel%}
                        <option value="{{optionvalue}}">{{optionvalue}}</option>
                        {% endfor %}
                      </select>
                      <div class="12">selected type: {{selectedmodel}}</div>
                  </form>
                </div>
                <!-- End Select Model -->
                <div>Selected Model: {{complete_gadget}} </div>
                </div>
              <!-- </div> -->
            </div>
          <!-- </div> -->
          <!-- End Search Bar -->

          <div class="col-12">
            <div class=" card">
              <span class="card-body">
                This system will give a recommendation of your choosen gadget with the help of generative AI</span>
            </div>
          </div>
          <div class="col-12">
            <div class="card">Extra Panel for other objects
                <div class="card-body col"> 
                  <h6 class="card-title">Actual Product Image/s of your selected device</h6>
                    <img src={{dev_images}} class="card-card-img-bottom img-fluid" style="width: 250px; height: 250px">    
                </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-header"><h6>Review summary</h6></div>
                <div class="card-body col" style="height: 300px;"> 
                  <h6 class="card-title">Based on reviews of users and buyers</h6>
                    <p class="card-text">
                      {% for str_recommendation in str_recommendation %}
                        {{str_recommendation}} <br>
                      {% endfor %}
                      {% for message in get_flashed_messages() %}
                        {{message}}
                      {% endfor %}
                    </p>
                </div>
            </div>   
          </div>
          <div class="col-5">
            <div class="card">
              <div class="card-header"><h6>Recommendation based on the gathered reviews of users and buyers</h6></div>
                <div class="card-body col" style="height: 300px;"> 
                  <h6 class="card-title"> <b> {{str_featreco}}</b></h6>
                    <p class="card-text">              
                        {{str_details}}                
                    </p>
                </div>
            </div>   
          </div>
          <div class="col-4">
            <div class="card">
                <div class="card-header">Shops to buy this device</div>
                <div class="card-body overflow-auto" style="height: 300px;"> 
                    <h6 class="card-title">Shops:</h6>
                    <p class="card-text ">
                      {%for shop_loc in shop_loc_list %}
                      {{shop_loc | safe}} <br>
                      {% endfor %}
                    </p>
                </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-header">Generated information assisted via A.I</div>
              <div class="card-body overflow-auto" style="height: 400px;">
                  <h6 class="card-title"></h6>
                  <p class="card-text">
                    {{ai_result | safe}}
                    <!-- Some quick example text to build on the card title and make up the bulk of the card's content.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore nam consequatur et! In, iste. Quae repudiandae velit sit odio. Magnam officia reprehenderit et ex inventore eius cupiditate vitae aperiam quos! -->
                  </p>
              </div>                        
            </div>
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-header">LSTM Prediction Train</div>
              <div class="card-body"> 
                {% block content %}
                  <image src="{{ url_for('static', filename='/HTML/images/lstm_train_acc.png')}}" class="border border-3">

                  <h6 class="card-title">Details:</h6>
                  <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, sit animi, illo beatae officiis quia possimus aut velit nisi dolor in excepturi eaque, consequatur repellat voluptate voluptatum ad dolores deleniti.
                  </p>
              </div>    
            </div>
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-header">LSTM Prediction Test</div>
              <div class="card-body">

                  <image src="{{ url_for('static', filename='/HTML/images/lstm_test_acc.png')}}" class="border border-3">
                {% endblock%}
                  <h6 class="card-title">LSTM Prediction Test</h6>
                  <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ea temporibus? Molestias cupiditate distinctio provident dolorum officiis deleniti rerum soluta porro. Ducimus incidunt in minus itaque temporibus. Similique, praesentium suscipit.
                  </p>
              </div>
            </div>  
        </div>
        </div>
      </div>
  </div>


<div id="stringresult" class="fs-6">Testing div
  {% with errors = get_flashed_messages(category_filter=["**"]) %}
  {% if errors %}
  <div class="alert-message block-message error">
    <a class="close" href="#">×</a>
    <ul>
      {%- for msg in errors %}
      <li>{{ msg }}</li>
      {% endfor -%}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
</div>
</body>
</html>