<!DOCTYPE html>
<html>
    <head>
        <title>This is test environment for Design and Programs</title>
        <!-- PyScript CSS -->
        <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css">
        <!-- This script tag bootstraps PyScript -->
        <script type="module" src="https://pyscript.net/alpha/pyscript.js"></script>
        <!-- custom code -->
        <script type="text/JavaScript">
            function testjs(){
                alert("Test is okay")
            }

            function formatAI(){
                document.getElementById("resultAI").innerHTML = response;
                alert("passed value");
            }
        </script>

    </head>
    <body>
    <!-- {% with messages = get_flashed_messages() %}
        {{messages}}
    {% endwith %} -->

    <div>This is the message, {{message_content}}</div>
    </body>
</html> 