<!DOCTYPE html>
<html>
<head>
<title>Drag and Drop Image URL</title>
<style>
  #url-display{
    margin-top: 20px;
    font-size: 16px;
    word-wrap: break-word;
  }
</style>
<link rel="stylesheet" href="design.css">
</head>
<body>

<!-- <div id="drop-area">
  Drag and drop an image URL here
</div> -->

<!-- <img id="image-preview" style="display: none;" src="" alt="Image Preview"> -->


    <p>Drag and Drop image in this area to upload gadget image</p>
    <span>Upload image from desktop or from internet URL</span>
    <br>
<div class="cust_uploadfile" id="cust_drop-area-container">
    <label for="cust_input-file" id="cust_drop-area">
        <div id="cust_image-preview">
        </div>
    </label>
<div id="cust_url-display"></div>     
</div>

<script src="script.js">
</script>
</body>
</html>